<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbg.BACKSTAGE.mapper.CompactInformationMapper" >
  <resultMap id="BaseResultMap" type="com.bbg.BACKSTAGE.model.CompactInformation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="signdate" property="signdate" jdbcType="DATE" />
    <result column="pov" property="pov" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="clearingdate" property="clearingdate" jdbcType="DATE" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, number, name, company, linkman, phone, type, signdate, pov, content, clearingdate, 
    comment
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from compact_information
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- 获取记录总数 -->
  <select id="getTotal" resultType="int">
    SELECT count(1) FROM compact_information WHERE 1 = 1
  </select>

  <!-- 分页查询所有信息记录 -->
  <select id="getCompactListPage" resultType="com.bbg.BACKSTAGE.model.CompactInformation">
    select
    <include refid="Base_Column_List" />
    from compact_information
    LIMIT #{offset},#{limit}
  </select>

  <!-- 分页查询所有信息记录带排序 -->
  <select id="getCompactPageSort" resultType="com.bbg.BACKSTAGE.model.CompactInformation">
    select
    <include refid="Base_Column_List" />
    from compact_information
    order by ${sort} ${sortOrder}
    LIMIT ${offset},${limit}
  </select>

  <!-- 分页搜索 -->
  <select id="searchBySingleColumn" resultType="com.bbg.BACKSTAGE.model.CompactInformation">
    select
    <include refid="Base_Column_List" />
    from compact_information
    WHERE ${searchTarget} LIKE CONCAT('%',#{searchContent},'%')
    LIMIT ${offset},${limit}
  </select>

  <!-- 分页搜索带排序 -->
  <select id="searchBySingleColumnSort" resultType="com.bbg.BACKSTAGE.model.CompactInformation">
    select
    <include refid="Base_Column_List" />
    from compact_information
    WHERE ${searchTarget} LIKE CONCAT('%',#{searchContent},'%')
    order by ${sort} ${sortOrder}
    LIMIT ${offset},${limit}
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from compact_information
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bbg.BACKSTAGE.model.CompactInformation" >
    insert into compact_information (id, number, name, 
      company, linkman, phone, 
      type, signdate, pov, content, 
      clearingdate, comment)
    values (#{id,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{company,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{signdate,jdbcType=DATE}, #{pov,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{clearingdate,jdbcType=DATE}, #{comment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bbg.BACKSTAGE.model.CompactInformation" >
    insert into compact_information
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="linkman != null" >
        linkman,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="signdate != null" >
        signdate,
      </if>
      <if test="pov != null" >
        pov,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="clearingdate != null" >
        clearingdate,
      </if>
      <if test="comment != null" >
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="signdate != null" >
        #{signdate,jdbcType=DATE},
      </if>
      <if test="pov != null" >
        #{pov,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="clearingdate != null" >
        #{clearingdate,jdbcType=DATE},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbg.BACKSTAGE.model.CompactInformation" >
    update compact_information
    <set >
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="signdate != null" >
        signdate = #{signdate,jdbcType=DATE},
      </if>
      <if test="pov != null" >
        pov = #{pov,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="clearingdate != null" >
        clearingdate = #{clearingdate,jdbcType=DATE},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbg.BACKSTAGE.model.CompactInformation" >
    update compact_information
    set number = #{number,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      signdate = #{signdate,jdbcType=DATE},
      pov = #{pov,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      clearingdate = #{clearingdate,jdbcType=DATE},
      comment = #{comment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>